<form [formGroup]="warriorForm" novalidate autocomplete="off">
  <h2>Warrior details</h2>
  <div class="group">
    <label for="name" class="label">Name</label>
    <input type="text" id="name" placeholder="Enter warrior name" formControlName="name"/>
  </div>
  <div class="group">
    <label for="type" class="label">Type</label>
    <select id="type" value="0" formControlName="type">
      <option value="">Select one</option>
      <option value="A">Autobot</option>
      <option value="D">Deception</option>
    </select>
  </div>
  <h3>Specs:</h3>
  <div class="group">
    <label for="strength" class="label">Strength</label>
    <select id="strength" formControlName="strength">
      <option value="">Select one</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
  <div class="group">
    <label for="intelligence" class="label">Intelligence</label>
    <select id="intelligence" formControlName="intelligence">
      <option value="">Select one</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>  </div>
  <div class="group">
    <label for="speed" class="label">Speed</label>
    <select id="speed" formControlName="speed">
      <option value="">Select one</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>  </div>
  <div class="group">
    <label for="endurance" class="label">Endurance</label>
    <select id="endurance" formControlName="endurance">
      <option value="">Select one</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>  </div>
  <div class="group">
    <label for="rank" class="label">Rank</label>
    <select id="rank" formControlName="rank">
      <option value="">Select one</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>  </div>
  <div class="group">
    <label for="courage" class="label">Courage</label>
    <select id="courage" formControlName="courage">
      <option value="">Select one</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>  </div>
  <div class="group">
    <label for="firepower" class="label">Firepower</label>
    <select id="firepower" formControlName="firepower">
      <option value="">Select one</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>  </div>
  <div class="group">
    <label for="skill" class="label">Skill</label>
    <select id="skill" formControlName="skill">
      <option value="">Select one</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>  
  </div>
  <div>
    <button type="submit" (click)="onWarriorAdd()" [disabled]="!warriorForm.valid">Add Warrior</button>
  </div>
</form>
<hr>
<div class="container">
  <div class="item">
    <h3 class="group">Input data:</h3>
    <h4 class="group" *ngFor="let obj of inputObjects">{{obj.str}}</h4>
  </div>
  <div class="item">
    <button (click)="runGame()">Run Game</button>
  </div>
  <div class="item">
    <h3>Output Statistics:</h3>
    <div *ngIf="numBattles">
      <div *ngIf="abortFlag">
        <h4>1 Battle</h4>
        <h4>All Competitors destroyed</h4>
        <h4>No winning team</h4>
      </div>
      <div *ngIf="!abortFlag">
        <h4>{{numBattles}} Battle{{numBattles>1?"s":""}}</h4>
        <div *ngIf="winningTeam === ''">
          <h4>Its a Tie!</h4>
        </div>
        <div *ngIf="winningTeam !== ''">
          <h4>Winner:</h4>
          <p>Team: {{winningTeam}}</p>
          <h5>Warriors:</h5>
          <p *ngFor="let winner of finalWinners">{{winner}}</p>
          <h4>Loser:</h4>
          <p>Team: {{losingTeam}}</p>
          <h5>Survivors of Losing team:</h5>
          <p *ngFor="let survivor of survivors">{{survivor.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>